<app-navigator></app-navigator>

<div class="main">
    <div class="__container">
        <router-outlet #outlet="outlet"></router-outlet>
    </div>
</div>
<div class="footer">
    <div class="content">
        <div class="social">
            <div class="__item" *ngIf="homeSettings?.socialmedia?.facebook"><a [href]="homeSettings?.socialmedia?.facebook"><i class="fa fa-facebook"></i></a>  </div>
            <div class="__item" *ngIf="homeSettings?.socialmedia?.instagram"><a [href]="homeSettings?.socialmedia?.instagram"><i class="fa fa-instagram"></i></a> </div>
            <div class="__item" *ngIf="homeSettings?.socialmedia?.pinterest"><a [href]="homeSettings?.socialmedia?.pinterest"><i class="fa fa-pinterest"></i></a> </div>
            <div class="__item" *ngIf="homeSettings?.socialmedia?.twitter"><a [href]="homeSettings?.socialmedia?.twitter"><i class="fa fa-twitter"></i></a> </div>
            <div class="__item" *ngIf="homeSettings?.socialmedia?.youtube"><a [href]="homeSettings?.socialmedia?.youtube"><i class="fa fa-youtube"></i></a> </div>
        </div>
        <div class="contact">Contact : <a [href]="'mailto:'+homeSettings?.contact_mail"> {{homeSettings?.contact_mail}}</a></div>
    </div>
</div>