<div class="content">
    <div class="__text">
      <div class="__container">
        <div class="__title">{{post?.title}}</div>
        <div class="__author">
            <img [src]="post?.author.profile_img" alt="">
            <div>
                {{post?.author.full_name}}
            </div>
        </div>
        <div class="__category">Category : <div class="__item">{{post?.category.title}} </div>
        </div>
        <div class="__tags">
            Tags :<div class="tag" *ngFor="let tag of post?.tags"> {{ tag.title}} </div>
        </div>
        <div class="__date">{{post?.created_at |date:'mediumDate'}}</div>
      </div>

        <div class="post_content" [innerHTML]="post?.description">
        </div>
    </div>
    <div class="__img">
        <img [src]="post?.header_img" alt="">
    </div>
</div>